html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--el-color-primary);
}

html {
  --bg-blur-effect-color: rgba(255, 255, 255, 0.7);
  &.dark {
    --bg-blur-effect-color: rgba(32, 32, 32, 0.7);
  }
}

body {
  --comment-text-shadow: #000 1px 0 1px, #000 0 1px 1px, #000 0 -1px 1px, #000 -1px 0 1px;

  .nplayer_danmaku_item {
    text-shadow: var(--comment-text-shadow);
  }
}

.mono-input-popper {
  input {
    font-family: monospace;
  }
}
